<div class = "bg-[#2C2E3B] border-white/10 p-2">
  <h1 class = "text-white text-center p-2 border-b border-gray-200">{{ data.title }}</h1>
  <div class="p-2 text-gray-300 text-center text-base" [innerHTML]="data.text"></div>
  <div class = "flex items-center justify-center">
    <button class = "button bg-green-600 hover:bg-green-500" [innerHTML]="data.yes"
      (click)="submit(true)"></button>
    <button class = "button bg-red-600 hover:bg-red-500" [innerHTML]="data.no"
      (click)="submit(false)"></button>
  </div>
</div>